@media only screen and (min-width: 1224px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 28px 44px;
  }

  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .title {
    color: #333;

    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0px;
  }

  .text {
    color: #333;
    text-align: center;

    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin: 0px;
  }

  .field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  .label {
    color: #333;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
  }

  .star {
    color: #ed3237;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }

  .inputs {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .input {
    padding: 10px 12px;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 4px;
    border: 1px solid #d0d5dd;
    background: #fff;

    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

  .cancel {
    position: absolute;
    right: 16px;
    top: 16px;
  }

  .button {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 12px 28px;
  }

  .subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .title {
    color: #333;

    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin: 0px;
  }

  .textField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .text {
    color: #333;
    text-align: center;

    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0px;
  }

  .field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  .label {
    color: #333;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .star {
    color: #ed3237;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .inputs {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  .input {
    padding: 10px 12px;
    gap: 16px;
    flex: 1 0 0;
    border-radius: 4px;
    border: 1px solid #d0d5dd;
    background: #fff;

    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
  }

  .cancel {
    position: absolute;
    right: 12px;
    top: 12px;
  }

  .button {
    width: 279px;
    height: 49px;
  }
}
