.container {
  display: flex;
  width: 448px;
  padding: 48px 64px;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  border-radius: 8px;
  background: var(--pimary-btn-fff, #fff);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.title {
  color: var(--pimary-main-text, #333);

  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.quesstion {
  align-self: stretch;
  color: var(--pimary-main-text, #333);
  text-align: center;

  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.button {
  display: flex;
  width: 318px;
  align-items: flex-start;
  gap: 16px;
}

.cancel {
  position: absolute;
  right: 16px;
  top: 16px;
}
